* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    max-height: 8vh;
}

.logo {
    /*background: red;*/
    width: 33.33%;
    max-height: 100%;
}

.logo img {
    max-height: 100%;
    width: 100%;
}

.menu {
    background: green;
    width: 33.33%;
    max-height: 100%;
}

.signin {
    background: blue;
    width: 33.33%;
    min-height: 20%;
    max-height: 100%;
}